<div class="wrapper">
  <!--  <app-loader-absolute *ngIf="loadingState"></app-loader-absolute>-->
  <nav>
    <ul class="pager">
      <li (click)="setAsActivePage(pageNum - 1)" *ngIf="pageNum !== 1" class="pager__item pager__item--prev">
        <a class="pager__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewbox="0 0 8 12">
            <g fill="none" fill-rule="evenodd">
              <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
            </g></svg
        ></a>
      </li>
      <li (click)="setAsActivePage(page)" *ngFor="let page of totalPagesArray()" [ngClass]="isActivePage(page) ? 'active' : ''" class="pager__item">
        <a class="pager__link">{{ page }}</a>
      </li>
      <li (click)="setAsActivePage(pageNum + 1)" *ngIf="pageNum !== totalPages" class="pager__item pager__item--next">
        <a class="pager__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewbox="0 0 8 12">
            <g fill="none" fill-rule="evenodd">
              <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
            </g></svg
        ></a>
      </li>
    </ul>
  </nav>
</div>
