<form class="row" [formGroup]="filteringForm">
  <div class="col-4">
    <input (ngModelChange)="filter()" type="text" class="form-control" formControlName="name" placeholder="keyword" />
  </div>
  <div class="col-4">
    <select *ngIf="movieGenres" (ngModelChange)="filter()" class="form-control" formControlName="genre">
      <option *ngFor="let genre of movieGenres | keyvalue" [value]="genre.key">
        {{ genre.value }}
      </option>
    </select>
  </div>
  <div class="col-4">
    <input (ngModelChange)="filter()" type="date" class="form-control" formControlName="premierDate" placeholder="date" />
  </div>
</form>
