<div class="table-responsive px-1" *ngIf="tableHeaders && tableData && tableData.length > 0; else noData">
  <table class="table table-sm bg-white" [ngClass]="{shadow: !tableShadowless, 'table-bordered': tableBordered}">
    <thead>
      <ng-container>
        <tr>
          <th *ngFor="let header of tableHeaders">
            <div>
              <span>{{ header.key }}</span>
              <span *ngIf="header.sorting">
                <a (click)="sort(header)" class="sorting">&#8616;</a>
              </span>
            </div>
          </th>
        </tr>
      </ng-container>
    </thead>
    <tbody>
      <ng-container *ngFor="let element of dataToShow">
        <tr>
          <ng-container *ngFor="let header of tableHeaders">
            <td *ngIf="header.key !== 'genre'; else badgeType" ngClass="table-col__{{ header.colSize ? header.colSize : '' }}">
              <span>{{ element[header.key] || 'No ' + header.key + ' data' }}</span>
            </td>
            <ng-template #badgeType>
              <td>
                <span
                  *ngFor="let genre of element[header.key]"
                  [ngClass]="{'badge-primary': genre < 5, 'badge-danger': genre < 10, 'badge-warning': genre < 15, 'badge-success': genre < 20}"
                  class="badge badge-pill mr-2"
                >
                  {{ getEnumValue(genre) }}
                </span>
              </td>
            </ng-template>
          </ng-container>

          <!--          <span class="badge badge-pill badge-primary">Primary</span>-->
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="tableHeaders.length">
          <div class="d-flex align-items-center justify-content-between">
            <span></span>
            <app-pagination
              *ngIf="!triggerPagination"
              [totalPages]="tableCfg.totalPages"
              [pageNum]="tableCfg.pageNum"
              (setActivePage)="pageChange($event)"
            ></app-pagination>
            <select class="form-control-sm" [(ngModel)]="tableCfg.pageSize" (ngModelChange)="getData()">
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="20">20</option>
            </select>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ng-template #noData>
  <p>No data</p>
</ng-template>
