.table {
  //width: max-content;
  min-width: 100%;
  &.isLoading {
    filter: blur(1px);
    pointer-events: none;
  }
  th,
  td {
    font-size: 13px !important;
    vertical-align: middle;

    .sorting {
      font-weight: bold;
      font-size: 22px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
