$text-color: #646464;
$text-muted: #ededed;
$primary: #397aa8;
$accent: #ff9900;
$bg-color: #fafafa;
$white: #ffffff;
$primary-gradient: linear-gradient(269.64deg, #1474a4 2.55%, #2f98cd 96.4%);
$border-color: #cfcfcf;
$border-color-primary: #176498;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$timeline-card: #caecff;
$timeline-active: #1db62c;
$timeline-completed: #1978b6;
